<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemGroup.Retail.StudentManagement.Common.Properties.Settings.VID_096_DVP_MConnectionString"
            connectionString="Data Source=MISVDIDB4;Initial Catalog=VID-096-DVP-M;User ID=sa;Password=M!$vdiDB444;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="SystemGroup.Retail.StudentManagement.Common.Properties.Settings.VID_096_DVP_MConnectionString1"
            connectionString="Data Source=MISVDIDB4;Initial Catalog=VID-096-DVP-M;Persist Security Info=True;User ID=sa;Password=M!$vdiDB444"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
